body {
	font-family: arial,sans-serif;
	text-align: center;
	background: #FDFDFD;
	color: 		#111111;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.doors {
    text-align: center;
    margin-top: 50px;
}

.unselected {
    height: 250px;
    width: 	150px;
    margin: 3px;
}

.selected {
	 height: 250px;
    width: 	150px;
    margin: 3px;
    border: 4px solid #00FB00;
}

.instructions {
	color: #505050;
}

.choices {
    margin: auto;
    width: 500px;
}

.choice {
	font-weight: bold;
	width : 100%;
	background: #353535;
   color: #FFFFFF;
   margin: 5px;
   padding: 5px;
   height: 50px;
   
}

.results{
	font-weight:lighter;
	margin-top: 30px;
	background: #ededed;
    margin-left: auto;
    margin-right: auto; 
    border-collapse: collapse;
    width : 390px;
}

.result{
	 font-weight:lighter;
	 border: solid 1px black;	 
}




