body {
	font-family: arial,sans-serif;
	font-size: 30px;
	text-align: center;
	background: #FAFAFA;
	color: 		#111111;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.doors {
	margin: auto;
    text-align: center;
}

.unselected {
    width: 20%;
}

.selected {
    width: 20%;
    border: 2px solid #F010F0;
}

.instructions {
	color: #505050;
	width: 100%;
}

.choices {
	 margin: auto;
    height: 20%;
    width: 80%;
    text-align: center;
}

.choice {
	background: #353535;
   font-weight: bold;
	width: 100%;
	height: 60px;
   color: #FFFFFF; 
   font-size: 30px;
}

.choice:hover{
	font-weight: bold;
	width: 100%;
	height: 60px;
	background: #555555;
   color: #FFFFFF; 
   font-size: 30px;
}

.results{
	font-weight:lighter;
	margin-top: 20px;
	background: #ededed;
    margin-left: auto;
    margin-right: auto; 
    border-collapse: collapse;
    width : 80%;
}

.result{
	 font-weight:lighter;
	 border: solid 1px black;	 
}




