body {
	font-family: arial,sans-serif;
	text-align: center;
	background: #FDFDFD;
	color: 		#111111;
}

h1 {
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 10%;
}

.doors {
	margin: auto;
    text-align: center;
    width: 600px;
}

.unselected {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.selected {
    width: 150px;
    margin-left: 5px;
	 margin-right: 5px;
    border: 4px solid #00FB00;
}

.instructions {
	color: #505050;
	width: 100%;
}

.choices {
    width: 100%;
}

.choice {
	font-weight: bold;
	width : 150px;
	background: #353535;
   color: #FFFFFF;
   padding: 5px;   
}

.results{
	font-weight:lighter;
	margin-top: 20px;
	background: #ededed;
    margin-left: auto;
    margin-right: auto; 
    border-collapse: collapse;
    width : 470px;
}

.result{
	 font-weight:lighter;
	 border: solid 1px black;	 
}




