body {
  font-family: Verdana, sans-serif;
  text-align: center;
}

.row {
  margin: auto;
  width: 900px;
}

.column {
  float: left;
  width: 33%;
}  

a {
  color: black;
}

.projectContainer {
  border: solid 1px grey;
  border-radius: .5em;
  margin: 0.5em;
}
    
.projectHeaderContainer {
  margin: -1px;
  background-color: lightgrey;
  border-radius: 0.5em 0.5em 0 0;
  border: solid 1px grey;
}

.projectHeader {
 margin: 0.5em;
}

.projectHeader a {
 text-decoration: none;
}

.projectHeader a:hover {
 text-decoration: underline;
}


.projectImageContainer {
  margin: 1em 0 1em 0;
  height: 16em;
}

.projectImage {
  height: 16em;
  width: 16em;
  margin: 0 auto 0 auto;
  border: solid 2px grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.8;
 }

.projectImage:hover {
  opacity: 1;
}

.projectDescriptionContainer {
  height: 3em;
  padding: 0 1em 0 1em;
}

@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
  .row {
    width: 100%;
  }

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .row {
    width: 100%;
  }
}
