<!DOCTYPE html>
<html>

<head>
    <title>Badmintony</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="board" ng-app="app" ng-controller="boardCtrl">

        <div class="gameStart" ng-hide="playing">
            <p>Who's serving?</p>
            <button class="server" ng-click="newGame('top')">Top</button>
            <br><br>
            <button class="server" ng-click="newGame('bottom')">Bottom</button>
        </div>

        <div class="score">
            <button class="score" ng-click="addPoint(2)">{{game.t2s}}</button>
        </div>
        <div class="player right">
            <p class="player">
                <span ng-show="game.sp=='t2r'">🏸</span>
                <input class="player" type="text" ng-model="game.t2r">
            </p>
        </div>
        <div class="player left">
            <p class="player">
                <input class="player" type="text" ng-model="game.t2l">
                <span ng-show="game.sp=='t2l'">🏸</span>
            </p>
        </div>

        <div class="time">
            <button class="time" ng-click="startTimer()">{{time}}</button>
        </div>

        <div class="player right">
            <p class="player">
                <span ng-show="game.sp=='t1l'">🏸</span>
                <input class="player" type="text" ng-model="game.t1l">
            </p>
        </div>
        <div class="player left">
            <p class="player">
                <input class="player" type="text" ng-model="game.t1r">
                <span ng-show="game.sp=='t1r'">🏸</span>
            </p>
        </div>

        <div class="score">
            <button class="score" ng-click="addPoint(1)">{{game.t1s}}</button>
        </div>



    </div>

    <script>

        var app = angular.module("app", []);

        app.controller("boardCtrl", function ($scope, $interval) {
            $scope.startTimer = function () {
                if ($scope.game.t1s === 0 && $scope.game.t2s === 0) {
                    $scope.startTime = new Date();
                    $scope.timerRunning = true;
                }

            }
            $scope.millisToMinutesAndSeconds = function (millis) {
                var minutes = Math.floor(millis / 60000);
                var seconds = ((millis % 60000) / 1000).toFixed(0);
                return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
            }
            $scope.updateTimer = function () {
                if ($scope.timerRunning) {
                    $scope.time = $scope.millisToMinutesAndSeconds(new Date() - $scope.startTime);
                }
            }
            $interval($scope.updateTimer, 500);

            $scope.newGame = function (server) {
                $scope.game = { t2r: 'SAM', t2l: 'BEN', t2s: 0, t1s: 0, t1l: 'JJJ', t1r: 'DDD', sp: (server === 'top' ? 't2r' : 't1r') }
                $scope.gameStates = [];
                $scope.playing = true;
                $scope.time = "0:00"
            }



            $scope.playing = false;
            $scope.addPoint = function (team) {
                console.log("add");
                if (!$scope.timerRunning) {
                    $scope.startTime = new Date();
                    $scope.timerRunning = true;
                }

                $scope.gameStates.push(JSON.parse(JSON.stringify($scope.game)));

                $scope.newGame = JSON.parse(JSON.stringify($scope.game));

                $scope.newGame["t" + team + "s"] += 1;

                let serverSide = $scope.newGame.sp[2];

                if ($scope.newGame.sp[1] == team) {
                    $scope.newGame.sp = "t" + team + (serverSide === 'l' ? 'r' : 'l');
                    let prevL = $scope.newGame["t" + team + "l"];
                    let prevR = $scope.newGame["t" + team + "r"];
                    $scope.newGame["t" + team + "l"] = prevR;
                    $scope.newGame["t" + team + "r"] = prevL;
                }
                $scope.newGame.sp = "t" + team + ($scope.newGame["t" + team + "s"] % 2 == 0 ? 'r' : 'l');

                $scope.game = $scope.newGame;
            }

        });



    </script>
</body>

</html>