.gameStart {
    text-align: center;
}

button.server {
    text-align: center;
}

.board {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top:20px;
    text-align: center;
}

div.score {
    text-align: center;
    margin: 0;
}

button.score {
    font-size: 40px;
    margin: 0;
    width: 90px; 
    background-color: white;
}

div.player {
    display: inline-block;
    width: 80px;
    padding-left: 5px;
    padding-right:  5px;
    margin: 0;  
    box-sizing: border-box;
}

p.player {
    margin: 0;
}

input.player {
    width: 35px;
    display: inline-block;
    margin: 2px;
    border: solid 1px black;
    text-align: center;
}

button.time {
    font-size: 20px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.time {
    text-align: center;
}